@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*Kod stylizujący sekcje navbar*/
body{
     background-image: url(layered-waves-haikei\ \(3\).svg);
     background-repeat: no-repeat;
     background-size: cover;
     animation: rotate 6s infinite alternate linear;
}

/*Kod stylizujący element logo*/
.logo{
     color: #F27BBD;
     font-family: "Ubuntu";
     font-size: 1.5rem;
}
/*kod stylizujący link dopięty do logo strony*/
.logo-link{
     text-decoration: none; /* Usuwa podkreślenie */
    outline: none; /* Usuwa domyślny obrys (niebieski) */
    color: inherit; /* Używa koloru z rodzica (czyli z .logo) */
}

/*Kod stylizujacy divy przycisków głównych */
.nav-text{
     color: #F27BBD;
     display: flex;
     gap:60px;
     align-items: center;
     justify-content: center;
     margin:40px;  
}

/* kod stylizujący przyciski głowne : Home, Blog, About, Contact*/
 .nav-btn{
     color:white;
     text-decoration: none;
     font-size: 25px;
     font-family: "Ubuntu";
     height: 50px;
     width:130px;
     background-color: #874CCC;
     border-radius: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 /* kod stylizujący przyciski w navabrze po najechaniu na nie */
 .nav-btn:hover{
     background-color: #F27BBD;
     transition: 0.3s;
     box-shadow: 10px 10px 15px #874CCC;  
     border-radius: 30px;
     color:white;
 }

 /* kod stylizujący przyciski w czasie kliknięcia na nie*/
.nav-btn:active{
     background-color: #874CCC; 
     transform: translateY(2px); 
     box-shadow: 5px 5px 10px blanchedalmond;
}

 /* kod stylizujący przycisk JOIN US */
 .register-link{
     background-color: #F27BBD;
     border-radius: 30px;
     height: 50px;
     width: 150px;
     display: flex;
     justify-content: center;
     align-items: center;
     text-decoration: none;
     font-family: "Ubuntu";
     color:white;
     font-size: 20px;
 }


 /* kod stylizujący przycisk JOIN US po najechaniu na niego */
 .register-link:hover{
     background-color: #F27BBD;
     transition: 0.3s;
     box-shadow: 10px 10px 15px #874CCC;  
     border-radius: 30px;
     color:white;
 }

/* kod stylizujący przycisk JOIN US w czasie kliknięcia na niego*/
.register-link:active{
     background-color: #874CCC; 
     transform: translateY(2px); 
     box-shadow: 5px 5px 10px blanchedalmond;
}

 /*kod stylizujący diva navbara */
.navbar{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-right: 5%;
     margin-left: 5%;
}

/*kod na stylizacje div pojemnik 1*/
/* Stylizacja dla głównego kontenera */
.content1 {
     background-color: #874CCC;
     border: 2px solid black;
     border-radius: 30px;
     width: 30%; /* Ustaw szerokość na 30%, aby zmieściły się 3 elementy w jednym rzędzie */
     padding: 10px;
     display: flex;
     flex-direction: column;
     align-items: stretch;
     gap: 10px;
     box-sizing: border-box;
     width: 25%;
     margin-bottom: 3%;
 }
 
 /* Stylizacja dla obrazka */
 .content1-img img {
    width: 100%;         /* Zmniejsza szerokość obrazka (np. do 80% kontenera) */
    height: auto;       /* Zachowuje proporcje */
    display: block;     /* Zmienia sposób wyświetlania na block, aby można było zastosować marginesy */
    margin: 0 auto;     /* Wyśrodkowanie obrazka */
    border: 1px solid black; /* Dodanie obramowania obrazka */
    border-radius: 30px;
    animation: fadeIn 1s ease-in-out;
 }
 
 /* Stylizacja dla nagłówka */
 .content1-text h3 {
     margin-left: 15px;      /* Usuń marginesy */
     padding: 5px 0;  /* Dodaj odstępy */
     text-align: left;  /* Wyśrodkuj tekst */
     color: white;
     font-weight:500;
     font-family: "Ubuntu";
     animation: fadeIn 1s ease-in-out;
    
    
 }
 
 /* Stylizacja dla krótkiego tekstu */
 .content1-text p {
     margin: 0;
     padding: 10px 0;
     text-align: left;  
     margin-left: 15px;
     color: white;
     font-family: "Ubuntu";
     animation: fadeIn 1s ease-in-out;
 }
 
 /* Stylizacja dla linka "czytaj więcej" */
 .read-more {
     
     padding-top: 5px;
     text-align: right;           /* Wyrównanie do prawej */
     margin-right: 7%;
 }
 
 .read-more a {
     text-decoration: none;  /* Usuń podkreślenie */
     color:white;            /* Kolor linku */
     text-decoration: none;
     font-family: "Ubuntu";
     animation: fadeIn 1s ease-in-out;
 }
 
 .read-more a:hover {
    color:#F27BBD;
 }
 #pojemnik1{
     display: flex;
     flex-wrap: wrap; /* Pozwala elementom owijać się do kolejnego wiersza */
     justify-content: space-between; /* Rozstawia elementy równomiernie */
     gap: 20px; /* Odstępy między elementami */
     padding: 20px; /* Dodaj odstępy wewnątrz pojemnika */
     margin: 5% 4% 5% 4%;
 }
 /* Animacja na nagłówki */
@keyframes fadeIn {
     from {
         opacity: 0;
         transform: translateY(20px);
     }
     to {
         opacity: 1;
         transform: translateY(0);
     }
 }
